<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;" >
      BIENVENIDO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row style="background-color: rgb(2, 2, 2);">
      <ion-col style="font-size: large; color: silver;"> NOMBRE </ion-col>
      <ion-col style="font-size: large; color: silver; "> CORREO </ion-col>
      <ion-col style="font-size: large; color: silver;"> PASSWORD </ion-col>
      <ion-col style="font-size: large; color: silver;"><ion-icon name="settings-sharp"></ion-icon></ion-col>
    </ion-row>

    <ion-row *ngFor="let user of usuariosArray">
      <ion-col> {{user.name}} </ion-col>
      <ion-col> {{user.correo}}</ion-col>
      <ion-col> {{user.password}}</ion-col>
      <ion-col><ion-icon name="create-outline"></ion-icon> </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button fill='solid' expand='full' color='dark'(click)="salir()"> 
    <ion-icon name="arrow-back-circle-outline"></ion-icon>SALIR </ion-button>
  
</ion-content>
