<ion-header>
  <ion-toolbar color="medium"> 
    <ion-title>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="margin-top: 1opx;">
    <ion-col></ion-col>
    <ion-col width-100>
      <img src="assets/img/logo.png"/>
    </ion-col>
    <ion-col></ion-col>
  </ion-row>
  <ion-list>
    <ion-item>
      <ion-label>Nombre de usuario: </ion-label>
      <ion-input placeholder="username" [(ngModel)]="user" name="user" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Contraseña:</ion-label>
      <ion-input type="password" placeholder="Password - password longer than 6 characters" [(ngModel)]="pass" name="pass" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirma Contraseña:</ion-label>
      <ion-input type="password" placeholder="Confirm password - password longer than 6 characters " [(ngModel)]="confirmpass" name="confrimpass" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Correo: </ion-label>
      <ion-input type="text" placeholder="myname@example.com" [(ngModel)]="correo" name="correo" ></ion-input>
    </ion-item>
  </ion-list>
  <ion-button fill='solid' expand='block' color='dark' (click)="registro()">Registrarme</ion-button>
</ion-content>
